<mat-drawer-container class="example-container bg" [hasBackdrop]="backdrop">
    <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
        <app-sidenavcontent></app-sidenavcontent>
    </mat-drawer>

    <mat-drawer-content>
        <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>

        <div *ngIf="pageload" class="spinner">
            <mat-spinner></mat-spinner>
        </div>


        <div *ngIf="!pageload">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-5"></div>
                <div class="col-2">
                    <div class="timer">
                        <div>{{counter | formatTime}}</div>
                        <div style="font-size: 0.7em !important; font-weight: 400;">min <span
                                style="margin-left: 12px;">sec</span></div>
                    </div>
                </div>
            </div>


            <div *ngFor="let q of questions; index as i">
                <mat-card class="ques box-design" *ngIf="canShow(i)">
                    <mat-card-header>
                        <mat-card-title class="header">Q{{i+1}}. {{q.ques}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="margin-top: 50px;">
                        <img mat-card-image *ngIf="imageUrls.has(q.qId)" [src]='imageUrls.get(q.qId)'
                            class="ques-image">
                        <div style="margin-top: 50px;">
                            <button *ngIf="answers.get(q.qId) == 'A'; else eba" class="options-btn-selected"
                                (click)="ansSelected(i, 'A', q.qId)">
                                <div class="row">
                                    <div class="col-1" style="text-align: left;">A:</div>
                                    <div class="col" style="text-align: center;">{{q.optionA}}</div>
                                </div>
                            </button>
                            <ng-template #eba>
                                <button class="options-btn" (click)="ansSelected(i, 'A', q.qId)">
                                    <div class="row">
                                        <div class="col-1" style="text-align: left;">A:</div>
                                        <div class="col" style="text-align: center;">{{q.optionA}}</div>
                                    </div>
                                </button>
                            </ng-template>

                            <button *ngIf="answers.get(q.qId) == 'B'; else ebb" class="options-btn-selected" (click)="ansSelected(i, 'B', q.qId)">
                                <div class="row">
                                    <div class="col-1" style="text-align: left;">B:</div>
                                    <div class="col" style="text-align: center;">{{q.optionB}}</div>
                                </div>
                            </button>
                            <ng-template #ebb>
                                <button class="options-btn" (click)="ansSelected(i, 'B', q.qId)">
                                    <div class="row">
                                        <div class="col-1" style="text-align: left;">B:</div>
                                        <div class="col" style="text-align: center;">{{q.optionB}}</div>
                                    </div>
                                </button>
                            </ng-template>


                            <button *ngIf="answers.get(q.qId) == 'C'; else ebc" class="options-btn-selected" (click)="ansSelected(i, 'C', q.qId)">
                                <div class="row">
                                    <div class="col-1" style="text-align: left;">C:</div>
                                    <div class="col" style="text-align: center;">{{q.optionC}}</div>
                                </div>
                            </button>
                            <ng-template #ebc>
                                <button class="options-btn" (click)="ansSelected(i, 'C', q.qId)">
                                    <div class="row">
                                        <div class="col-1" style="text-align: left;">C:</div>
                                        <div class="col" style="text-align: center;">{{q.optionC}}</div>
                                    </div>
                                </button>
                            </ng-template>

                            <button *ngIf="answers.get(q.qId) == 'D'; else ebd" class="options-btn-selected" (click)="ansSelected(i, 'D', q.qId)">
                                <div class="row">
                                    <div class="col-1" style="text-align: left;">D:</div>
                                    <div class="col" style="text-align: center;">{{q.optionD}}</div>
                                </div>
                            </button>
                            <ng-template #ebd>
                                <button class="options-btn" (click)="ansSelected(i, 'D', q.qId)">
                                    <div class="row">
                                        <div class="col-1" style="text-align: left;">D:</div>
                                        <div class="col" style="text-align: center;">{{q.optionD}}</div>
                                    </div>
                                </button>
                            </ng-template>
                        </div>
                    </mat-card-content>

                    <!-- <mat-card-actions class="action-btn"> -->
                    <div class="action-btn">

                        <button mat-fab color="accent" (click)="prevQues(i)" class="ques-nav-btn"
                            [disabled]="disablePrev(i)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <button mat-fab color="accent" (click)="nextQues(i)" class="ques-nav-btn"
                            [disabled]="disableNext(i)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>

                        <button mat-raised-button color="accent" class="submit-btn"
                            (click)="submitQuiz()">Submit</button>

                    </div>
                    <!-- </mat-card-actions> -->

                </mat-card>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>