img{
    width: 150px;
    height: 150px;
}

.imgCls{
    display: inline;
    padding: 10px;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
    cursor:pointer;
    overflow: hidden;
}