<mat-drawer-container class="example-container bg" [hasBackdrop]="backdrop">
    <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
        <app-sidenavcontent></app-sidenavcontent>
    </mat-drawer>

    <div *ngIf="pageload" class="spinner">
        <mat-spinner></mat-spinner>
    </div>


    <mat-drawer-content *ngIf="!pageload">
        <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>


        <div *ngFor="let q of questionsDb; index as i">
            <mat-card class="ques box-design" *ngIf="canShow(i)">
                <mat-card-header>
                    <mat-card-title class="header">Q{{i+1}}. {{q.ques}}</mat-card-title>
                </mat-card-header>
                <mat-card-content style="margin-top: 50px;">
                    <img mat-card-image *ngIf="quesImageUrls.has(q.qId)" [src]='quesImageUrls.get(q.qId)' class="ques-image">
                    <div style="margin-top: 50px;">
                        <button [ngClass]="getStyleOption(q.qId, 'A')">
                            <div class="row">
                                <div class="col-1" style="text-align: left;">A:</div>
                                <div class="col" style="text-align: center;">{{q.optionA}}</div>
                            </div>
                        </button>
                        <button [ngClass]="getStyleOption(q.qId, 'B')">
                            <div class="row">
                                <div class="col-1" style="text-align: left;">B:</div>
                                <div class="col" style="text-align: center;">{{q.optionB}}</div>
                            </div>
                        </button>
                        <button [ngClass]="getStyleOption(q.qId, 'C')">
                            <div class="row">
                                <div class="col-1" style="text-align: left;">C:</div>
                                <div class="col" style="text-align: center;">{{q.optionC}}</div>
                            </div>
                        </button>
                        <button [ngClass]="getStyleOption(q.qId, 'D')">
                            <div class="row">
                                <div class="col-1" style="text-align: left;">D:</div>
                                <div class="col" style="text-align: center;">{{q.optionD}}</div>
                            </div>
                        </button>
                    </div>

                    <mat-divider style="margin-top: 10px;">

                    </mat-divider>

                    <div class="row">
                        <div class="label">Correct Answer: </div>
                        <div class="value">Option {{getCompleteAnswer(q.qId).correctOption}}</div>
                    </div>

                    <div class="row">
                        <div class="label">Explaination: </div>
                        <div class="value">{{getCompleteAnswer(q.qId).ansExplaination}}</div>
                    </div>
                    <div class="row">
                        <img mat-card-image *ngIf="ansImageUrls.has(q.qId)" [src]='ansImageUrls.get(q.qId)' class="ques-image">
                    </div>




                </mat-card-content>



                <!-- <mat-card-actions class="action-btn"> -->
                <div class="action-btn">

                    <button mat-fab color="accent" (click)="prevQues(i)" class="ques-nav-btn"
                        [disabled]="disablePrev(i)">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>

                    <button mat-fab color="accent" (click)="nextQues(i)" class="ques-nav-btn"
                        [disabled]="disableNext(i)">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>

                    <!-- <button mat-raised-button color="accent" class="submit-btn" (click)="submitQuiz()">Submit</button> -->

                </div>
                <!-- </mat-card-actions> -->

            </mat-card>
        </div>








    </mat-drawer-content>
</mat-drawer-container>